messageSender.DEFAULT.messagingProviderName=messagingProvider
messageSender.DEFAULT.destination=TEST.REQUEST
messageSender.DEFAULT.replyTo=TEST.RESPONSE
messageSender.DEFAULT.retryCount=10
messageSender.DEFAULT.formatDir=format
messageSender.DEFAULT.headerFormatName=header
messageSender.DEFAULT.messageConvertorName=defaultSyncMessageConvertor

messageSender.requestId.messagingProviderName=messagingProvider
messageSender.requestId.destination=TEST.REQUEST
messageSender.requestId.replyTo=TEST.RESPONSE
messageSender.requestId.retryCount=10
messageSender.requestId.formatDir=format
messageSender.requestId.headerFormatName=header.fmt
messageSender.requestId.messageConvertorName=defaultSyncMessageConvertor

#===============================================================================
# MessageSenderの個別設定
#===============================================================================

# RM11AC0101
messageSender.RM11AC0101.httpMethod=POST
messageSender.RM11AC0101.messageSenderClient=defaultMessageSenderClient
messageSender.RM11AC0101.uri=http://localhost:10000/msgaction/ss11AC/RM11AC0101
messageSender.RM11AC0101.realTimeMessagingUserId=user01
messageSender.RM11AC0101.httpConnectTimeout=0
messageSender.RM11AC0101.httpReadTimeout=0
messageSender.RM11AC0101.sslContextComponentName=
messageSender.RM11AC0101.proxyComponentName=
messageSender.RM11AC0101.syncMessagingEventHookNames=

# RM11AC0102
messageSender.RM11AC0102.httpMethod=POST
messageSender.RM11AC0102.messageSenderClient=defaultMessageSenderClient
messageSender.RM11AC0102.uri=http://localhost:10000/msgaction/ss11AC/RM11AC0102
messageSender.RM11AC0102.realTimeMessagingUserId=user01
messageSender.RM11AC0102.httpConnectTimeout=0
messageSender.RM11AC0102.httpReadTimeout=0
messageSender.RM11AC0102.sslContextComponentName=
messageSender.RM11AC0102.proxyComponentName=
messageSender.RM11AC0102.syncMessagingEventHookNames=

# RM11AC0103
messageSender.RM11AC0103.messagingProviderName=messagingProvider
messageSender.RM11AC0103.destination=TEST.REQUEST
messageSender.RM11AC0103.replyTo=TEST.RESPONSE
messageSender.RM11AC0103.timeout=300000
messageSender.RM11AC0103.retryCount=0
messageSender.RM11AC0103.formatDir=format
messageSender.RM11AC0103.headerFormatName=header
messageSender.RM11AC0103.messageConvertorName=defaultSyncMessageConvertor

# RM11AC0104
messageSender.RM11AC0104.messagingProviderName=messagingProvider
messageSender.RM11AC0104.destination=TEST.REQUEST
messageSender.RM11AC0104.replyTo=TEST.RESPONSE
messageSender.RM11AC0104.timeout=300000
messageSender.RM11AC0104.retryCount=0
messageSender.RM11AC0104.formatDir=format
messageSender.RM11AC0104.headerFormatName=header
messageSender.RM11AC0104.messageConvertorName=defaultSyncMessageConvertor
