# XAを使うか否か
useXA=false

# キューマネージャの名称
queueManagerName=TEST

# 送信キューの論理名
sendQueueName=TEST.REQUEST

# 受信監視キューの論理名
receiveQueueName=TEST.RESPONSE

# ポイズンメッセージ送信先キューの論理名
poisonQueueName=TEST.POISON

# バックアウト回数の上限値
backoutLimit=3

# 受信監視タイムアウト時間(msec)
readTimeout=5000

# MOM製品の標準エラー出力を使用するか否か
useProductSystemErrorOutput=true

# 送信メッセージの有効期間
timeToLive=-1