#===============================================================================
# バッチ固有の設定ファイル
#===============================================================================
# バッチリクエストテーブル(つくる
requestTable = BATCH_REQUEST

# バッチリクエストIDカラム名
requestIdColumnName = REQUEST_ID

# デフォルトのスレッド数
threadCount=1

# デフォルトの最大処理件数
maxCount=0

# デフォルトのコミット間隔
commitInterval=1

#===============================================================================
# 常駐バッチ用の設定
#===============================================================================
# データ監視間隔(デフォルトは1秒)
dataWatchInterval=1000
