#===============================================================================
# MOM同期応答メッセージ受信シミュレータの設定ファイル
#===============================================================================

# リクエストスレッド数
threadCount=30

# キューマネージャの名称
queueManagerName=TEST

# 受信監視キューの論理名
receiveQueueName=TEST.REQUEST

# ポイズンメッセージ送信先キューの論理名
poisonQueueName=TEST.POISON

# バックアウト回数の上限値
backoutLimit=3

# 受信監視タイムアウト時間(msec)
readTimeout=5000

# MOM製品の標準エラー出力を使用するか否か
useProductSystemErrorOutput=true

# レスポンスデータの格納ディレクトリ
input-file-dir=src/main/data/incoming

#応答時に使うリクエストID(実行時引数で上書きする想定)
request-id=RM11AC0203