###############################################################################
# NTF内蔵サーバ起動時に使用する設定ファイル。
###############################################################################

# HTTPメッセージ受信シミュレータの起動ポート
port=10000

# リクエストおよびレスポンスのデフォルトエンコーディング
defaultEncoding=UTF-8

# レスポンスデータの格納ディレクトリ
input-file-dir=src/main/data/incoming

# webルートのディレクトリ
webAppRoot=file://./

#応答時に使うリクエストID(実行時引数で上書きする想定)
request-id=RM11AC0201