#===============================================================================
# メッセージ送信シミュレータの設定ファイル
#===============================================================================

# リクエストスレッド数
threadCount=30

# リクエストデータ一覧CSVファイルの格納ディレクトリ
input-file-dir=src/main/data/outgoing

# フォーマットファイルの格納ディレクトリ
format-file-dir=src/main/resources/format

# 送信要求を行うリクエストの一覧(実行時引数で上書きする想定)
requests-to-send=RequestsToSend.csv

