################################################################################
# 共通設定
################################################################################
# フォーマットファイル格納ディレクトリ
format.file.dir=classpath:format

################################################################################
# 画面オンラインアクセスログの設定
################################################################################
# アクセスログ出力先ディレクトリ
access-log.dir=src/test/temp/online/log/online-access

# アクセスログのファイル名パターン
access-log.name.pattern=access*

# アクセスログ解析用一時ディレクトリ
# 解析対象のアクセスログをこの一時ディレクトリにコピーしてから解析処理を行う。
access-log.parse.temp.dir=src/test/temp/online/log/online-temp

# アクセスログの解析結果(リクエスト情報)格納ディレクトリ
request-info.dir=file:src/test/temp/online/log/online-parse-output

# リクエスト情報結果サマリー格納ディレクトリ
request-info-summary.dir=file:src/test/temp/online/summary/output

# 集計期間
# システム日付を基準にして、過去何ヶ月文を集計対象とするか
aggregate-period=1

