// nablarch-common-dao
jakarta.persistence.Entity
jakarta.persistence.Table
jakarta.persistence.Column
jakarta.persistence.Id
jakarta.persistence.Version
jakarta.persistence.Temporal
jakarta.persistence.GeneratedValue
jakarta.persistence.SequenceGenerator
jakarta.persistence.TableGenerator
jakarta.persistence.OptimisticLockException

// nablarch-core-validation-ee
jakarta.validation.Valid

// nablarch-fw-jaxrs
jakarta.ws.rs.Consumes
jakarta.ws.rs.Produces
jakarta.ws.rs.core.MediaType

// nablarch-fw-batch-ee
jakarta.batch.api.AbstractBatchlet
jakarta.batch.api.BatchProperty
jakarta.batch.api.Batchlet
jakarta.batch.api.chunk.AbstractItemReader
jakarta.batch.api.chunk.AbstractItemWriter
jakarta.batch.api.chunk.ItemProcessor
jakarta.batch.api.chunk.ItemReader
jakarta.batch.api.chunk.ItemWriter
jakarta.batch.runtime.BatchStatus
javax.batch.runtime.context.JobContext
javax.batch.runtime.context.StepContext
javax.enterprise.context.Dependent
javax.inject.Inject
javax.inject.Named

